params {
    // options for executing with metadata from Benchling
    ctb_id = null
    genomes_json = null
    default_genome = null
    // options for executing with a metasheet
    metasheet = null
    // options to identify local inputs given a metasheet
    fastq_dir = null
    fastq_name_pattern = null
    attachment_sites = "${baseDir}/attachment-sites.json"
    references_dir = null
    references_json = null
    default_reference = null
    // output prefix - defaults to metasheet.simpleName
    prefix = null
    // dir where outputs should be linked/uploaded - defaults to launchDir
    output_dir = null
    // global snakemake config yaml
    global_config = null
    // setting any of these parameters overrides the value in global_config
    trim_tn5 = null
    trim_Tn5_max_mismatches = null
    trim_att_max_mismatches = null
    read_structure_r1 = null
    read_structure_r2 = null
}

process {
    withName: cryptic_seq {
        container = 'tomebio/cryptic-seq:1.0'
        cpus: 8
    }
}

docker {
    enabled = true
}

profiles {
    // use this profile when running on MacOS under Rosetta emulation
    rosetta {
        docker {
            platform = "linux/amd64"
        }
    }
    
    // use this profile when running on linux
    // alteratively, configure docker on linux so that it does not require running as root:
    // https://docs.docker.com/engine/install/linux-postinstall/
    linux {
        docker {
            runOptions = "--user root"
        }
    }
}

manifest {
    name = 'cryptic-seq'
    author = 'Tome Biosciences'
    description = 'Cryptic-seq Pipeline'
    version = '1.0.0'
    nextflowVersion = '>=22.04.0' // DSL2 is the default starting here
}