profiles {
    test {
        params {
            metasheet = 'tests/data/metasheet.tsv'
            fastq_name_pattern = 'R${read}.fq.gz'
            references_json = 'references.json'
            fastq_dir = 'tests/data'
            prefix = 'test'
            output_dir = 'test-output'
            // GitHub action workers only provide 2 cpus and 8.GB memory
            max_resources = '2;7.GB;10.GB;1.h'
        }
    }

    umi_test {
        params {
            metasheet = 'tests/data/umi_metasheet.tsv'
            fastq_name_pattern = 'UMI_R${read}.fq.gz'
            umi_from_read_name = true
        }
    }
}